<!DOCTYPE html>
<html class="has-background-white-ter" lang="en">

<head>
  <title>
    Contract Expiration Tracker
  </title>
  <%- include('_headTags'); -%>
</head>

<body>
  <nav class="navbar is-dark mb-3">
    <div class="navbar-brand">
      <span class="navbar-item">
        <img src="<%= urlPrefix %>/images/logo.svg" alt="" />
      </span>
      <span class="navbar-item has-text-weight-bold">
          Contract Expiration Tracker
      </span>
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <% if (user.canUpdate) { %>
        <div class="navbar-start">
          <a class="navbar-item" id="navbar--contractCategoryUsersMaint" href="#">
            <span class="icon"><i class="fas fa-fw fa-users-cog" aria-hidden="true"></i></span>
            <span><%= configFunctions.getProperty("customizations.contractCategory.alias") %> User Maintenance</span>
          </a>
        </div>
      <% } %>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown">
          <a class="navbar-link" href="#">
            <span class="icon"><i class="fas fa-fw fa-user" aria-hidden="true"></i></span>
            <span><%= user.userName %></span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= urlPrefix %>/logout">
              <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
              <span>Log Out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main class="container py-2 has-min-page-height">
    <% if (user.canUpdate) { %>
      <div class="fixed-container is-fixed-bottom-right mr-4 mb-4 is-hidden-print">
        <button class="button is-circle is-success has-tooltip-left" id="button--addContract" data-tooltip="Add a New Contract" type="button">
          <i class="fas fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    <% } %>
    <form class="box" id="form--filters">
      <div class="columns">
        <div class="column">
          <div class="field">
            <div class="control is-expanded has-icons-left">
              <div class="select is-fullwidth">
                <select id="filters--contractCategory" name="contractCategory">
                  <option value="">(All Available Categories)</option>
                </select>
              </div>
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" id="filters--searchString" name="searchString" type="text" placeholder="Search Contracts" />
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="facheck">
        <input id="filters--includeExpired" name="includeExpired" type="checkbox" />
        <label for="filters--includeExpired">Include Expired Contracts</label>
      </div>
    </form>
    <div id="container--results">
      <div class="has-text-centered p-4">
        <span class="icon">
          <i class="fas fa-4x fa-spinner fa-pulse" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <p class="has-text-centered mt-4 is-size-7 is-hidden-print">
      Export Results as<br />
      <a class="button is-small is-ghost" id="export--csv" href="#" target="_blank">CSV</a>
      <a class="button is-small is-ghost" id="export--ical" href="#" target="_blank">iCal</a>
    </p>
  </main>
  <footer class="has-background-black-ter has-text-white-ter px-3 py-6">
    <strong class="has-text-white-ter">Contract Expiration Tracker</strong><br />
    Build <%= buildNumber %><br />
    <a class="has-text-white" href="https://cityssm.github.io/contract-expiration-tracker/docs/" target="_blank" rel="nofollow noreferrer">
      Help
    </a>
    &middot;
    <a class="has-text-white" href="https://github.com/cityssm/contract-expiration-tracker" target="_blank" rel="nofollow noreferrer">
      GitHub
    </a>
  </footer>
  <script>
    window.exports = window.exports || {};
    window.exports.__esModule = window.exports.__esModule || false;

    exports.userName = "<%= user.userName %>";
    exports.canUpdate = <%= user.canUpdate %>;
    exports.guidA = "<%= user.guidA %>";
    exports.guidB = "<%= user.guidB %>";

    exports.urlPrefix = "<%= urlPrefix %>";

    exports.customizations_contractCategory_alias = "<%= configFunctions.getProperty("customizations.contractCategory.alias") %>";
    exports.customizations_contractCategory_aliasPlural = "<%= configFunctions.getProperty("customizations.contractCategory.aliasPlural") %>";

    exports.contractCategories = <%- JSON.stringify(contractCategories) %>;
  </script>
  <script src="<%= urlPrefix %>/lib/bulma-js/bulma-js.js"></script>
  <script src="<%= urlPrefix %>/lib/bulma-webapp-js/cityssm.min.js"></script>
  <script>
    bulmaJS.init();
    cityssm.htmlModalFolder ="<%= urlPrefix %>/html/";
  </script>
  <script src="<%= urlPrefix %>/lib/date-diff/date-diff.min.js"></script>
  <script src="<%= urlPrefix %>/javascripts/contracts.min.js"></script>
  <% if (user.canUpdate) { %>
    <script src="<%= urlPrefix %>/javascripts/admin.min.js"></script>
  <% } %>
</body>
</html>
